.builder,
.builder * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.builder input,
.builder button,
.builder textarea,
.builder select {
    font: inherit;
}


.builder {
    width: 100%;
    height: 100%;
    padding: 1em;
    font-family: var(--primary-font);
    display: flex;
    align-items: flex-start;
}

.builder__sidebar {
    padding: .4em;
    border: 1px solid var(--neutral-color-300);
    border-radius: 3px;
}

.builder__sidebar-item {
    margin: .4em 0;
    padding: .6em 3.8em .6em 1em;
    font-size: .9rem;
    background-color: var(--neutral-color-100);
    color: var(--neutral-color-600);
    border: 1px solid var(--neutral-color-300);
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 130ms ease-in,
                color 130ms ease-in,
                border-color 130ms ease-in;
}

.builder__sidebar-item:first-child {
    margin-top: 0;
}

.builder__sidebar-item:last-child {
    margin-bottom: 0;
}

.builder__sidebar-item:hover {
    background-color: var(--primary-color-light);
    color: var(--neutral-color-100);
    border-color: var(--primary-color-dark);
}

.builder__droppoint-wrapper {
    width: 100%;
    margin-left: 1em;
}

.builder__droppoint {
    padding: 1em;
    width: 100%;
    min-height: 500px;
    background-color: var(--neutral-color-100);
    border: 2px dashed var(--neutral-color-300);
    border-radius: 3px;
    transition: border-color 130ms ease-in;

    position: relative;
}

.builder__droppoint::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.2rem;
    color: var(--neutral-color-400);
}

.builder__droppoint.show-inst::before {
    content: 'Drag and drop your input fields here';
}

.builder__droppoint.border-color {
    border-color: var(--primary-color)
}

.builder__btn-wrapper {
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;
}

.builder__btn-save,
.builder__popup-btn-submit,
.builder__popup-btn-cancel {
    padding: .6em 2em;
    font-size: .9rem;
    background-color: transparent;
    border: 2px solid var(--primary-color-light);
    color: var(--primary-color-light);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 130ms ease-in,
                color 130ms ease-in,
                border-color 130ms ease-in;
}

.builder__btn-save:hover,
.builder__popup-btn-submit:hover,
.builder__popup-btn-cancel:hover {
    background-color: var(--primary-color-light);
    color: var(--neutral-color-100);
    border-color: var(--primary-color-dark);
}

.builder__popup-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: opacity 150ms ease-in,
                visibility 150ms ease-in;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.builder__popup {
    padding: 2em 2em 0; /* bottom is set to zero to add padding at .builder__popup-btn-wrapper */
    width: 80%;
    max-width: 900px;
    height: calc(100vh - 140px);
    background-color: var(--neutral-color-100);
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07),
    0 2px 4px rgba(0,0,0,0.07),
    0 4px 8px rgba(0,0,0,0.07),
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07),
    0 32px 64px rgba(0,0,0,0.07);
    transform: scale(0.9);
    transition: transform 150ms ease-in;
    overflow-y: scroll;
    /* scrollbar-width: thin;
    scrollbar-color: var(--neutral-color-300) var(--neutral-color-100); */
    /* firefox code overriding webkit */
}

.builder__popup::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.builder__popup::-webkit-scrollbar-track {
    background: var(--neutral-color-100);
}

.builder__popup::-webkit-scrollbar-thumb {
    background: var(--neutral-color-300);
    border-radius: 10px;
}

.builder__popup::-webkit-scrollbar-thumb:hover {
    background: var(--neutral-color-400);
}

.builder__popup-bg.show {
    opacity: 1;
    visibility: visible;
}

.builder__popup-bg.show > .builder__popup {
    transform: scale(1);
}

.builder__popup-flex-wrapper {
    display: flex;
    justify-content: space-between;
}

.builder__popup > form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.builder__popup-html-title,
.builder__popup-style-title {
    margin-bottom: 1em;
}

.builder__popup-html-section {
    width: 40%;
}

.builder__popup-style-section {
    width: 40%;
}

.builder__popup-html-section > div {
    margin: .6em 0;
}

.builder__popup-html-section input[type=text],
.builder__popup-html-section input[type=number] {
    padding: .5em .8em;
    width: 100%;
    font-size: .9rem;
    letter-spacing: .5px;
    background: var(--neutral-color-100);
    color: var(--neutral-color-600);
    border: 1px solid var(--neutral-color-400);
    border-radius: 3px;
    outline: none;
    transition: box-shadow 130ms ease-in,
                border-color 130ms ease-in;
}
  
.builder__popup-html-section input[type=text]::placeholder,
.builder__popup-html-section input[type=number]::placeholder {
    color: var(--neutral-color-500);
}
  
.builder__popup-html-section input[type=text]:focus,
.builder__popup-html-section input[type=number]:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 2px var(--primary-color);
}

.builder__popup-html-section input[type=checkbox],
.builder__popup-html-section input[type=radio] {
    display: none;
}

.builder__popup-html-section input[type=checkbox] + label,
.builder__popup-html-section input[type=radio] + label {
    display: inline-block;
    padding: .5em;
    margin: 0 .4em;
    width: 75px;
    text-align: center;
    background-color: transparent;
    color: var(--neutral-color-600);
    border: 1px solid var(--neutral-color-500);
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 130ms ease-in,
                color 130ms ease-in,
                border-color 130ms ease-in;
}

.builder__popup-html-section input[type=checkbox] + label:hover,
.builder__popup-html-section input[type=radio] + label:hover {
    background-color: var(--primary-color-light);
    color: var(--neutral-color-100);
    border-color: var(--primary-color-dark);
}

.builder__popup-html-section input[type=checkbox]:checked + label,
.builder__popup-html-section input[type=radio]:checked + label {
    background-color: var(--primary-color-light);
    color: var(--neutral-color-100);
    border-color: var(--primary-color-dark);
}

.builder__popup-html-section select {
    padding: .4em 1.2em .4em .8em;
    background-color: transparent;
    border: 1px solid var(--neutral-color-500);
    border-radius: 3px;
    cursor: pointer;
}

.builder__popup-html-section span {
    margin-right: 1em;
    font-size: .9rem;
}

.builder__popup-options-wrapper > div {
    padding: .4em;
    margin: 2em 0;
    border: 1px solid var(--neutral-color-300);
    border-radius: 3px;
}

.builder__popup-options-wrapper > div > div {
    margin: .6em 0;
}

.builder__popup-style-section {
    /* grid-row: 1 / 2;
    grid-column: 2 / 3; */
}

.builder__popup-btn-wrapper {
    padding-bottom: 2em;
    display: flex;
    justify-content: flex-end;
}

.builder__popup-btn-cancel {
    margin-right: 1em;
}


/* 
.builder__droppoint .form-cont {
    margin: 1.6em 0 0;
    min-height: 70px;
    border: 1px dashed var(--grey-color);
    position: relative;
}

.builder__droppoint .form-cont::before {
    content: 'Container';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-20px);
    font-size: .8em;
    color: var(--grey-color-dark);
}

.builder__droppoint .form-el {
    margin: .4em 0;
}

.builder__droppoint .form-el label {
    font-weight: var(--font-weight-bold);
    font-size: .8rem;
    color: var(--grey-color-dark);
}

.builder__droppoint .form-el input[type=text] {
    padding: .5em;
    width: 100%;
    font-weight: var(--font-weight-bold);
    font-size: .8rem;
    background: var(--white-color);
    color: var(--grey-color-dark);
    border: 1px solid var(--grey-color);
    border-radius: 3px;
    outline: none;
    transition: border-color 200ms ease-in;
}

.builder__droppoint .form-el input[type=text]:focus {
    border-color: var(--primary-color-dark);
}

.builder__droppoint .form-el input[type=text]::placeholder {
    font-size: .75rem;
    color: var(--grey-color);
}
*/



/* add hidden input style like display it */